<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
        <h1>Backend-baserad webbutveckling</h1>
        <h2>Moment 1</h2>
        <nav>
            <ul>
                <li><a href="/">Kurser</a></li>
                <li><a href="/add">Lägg till kurs</a></li>
                <li class="active"><a href="/about" class="active">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Om laborationsuppgiften</h1>
        <article>
            <h2>Webbplatsen</h2>
            <p>
                På webbplatsen kan användaren lägga till kurser som sedan lagras i en databas. 
                De redan tillagda kurserna går att redigera i efterhand och kan även raderas. 
                De ändringar som görs i en kurs uppdaterar den aktuella kursen i databasen 
                och de kurser som raderas tas bort från databasen.
            </p>
        </article>
        <article>
            <h2>PostgreSQL</h2>
            <p>
                Den databas-server som använts till uppgiften är PostgreSQL.
                Det är en populär relationsdatabashanterare som används för att lagra och hantera data.
                Då PostgreSQL är baserat på öppen källkod kan vem som helst använda sig av den gratis (man kan även betala för extra utrymme i sin databas).
                I PostgrelSQL används SQL (Structured Query Language) för att hantera och lagra datan.
                Vill du veta mer om PostgreSQL kan du besöka deras webbplats <a href="https://www.postgresql.org/about/">postgresql.org</a>
            </p>
        </article>
        <article>
            <h2>Slutsatser om uppgiften</h2>
            <p>
                En rolig och givande uppgift där man fått användning för de kunskaper man fått i den tidigare Databas-kursen.
                Till en början kändes det svårt och krånglligt att hålla reda på den implententerade JavaScript-koden i ejs-filerna,
                men efter att ha kollat på föreläsningarna och det teoretiska material vi fått extra gånger tog det inte så lång tid att komma in i det.
            </p>
        </article>
    </main>
    <footer>
        <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling</p>
        <p>© Copyright 2024 Emma Ådahl Görling</p>
    </footer>
</body>
</html>