<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurs</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
        <h1>Backend-baserad webbutveckling</h1>
        <h2>Moment 1</h2>
        <nav>
            <ul>
                <li><a href="/">Kurser</a></li>
                <li class="active"><a href="/add" class="active">Lägg till kurs</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lägg till kurs</h1>

        <form method="post" action="/">
            <label for="code">Kurskod:</label>
            <br>
            <input type="text" name="code" id="code">
            <br>
            <label for="name">Kursnamn:</label>
            <br>
            <input type="text" name="name" id="name">
            <br>
            <label for="syllabus">URL till kursplan:</label>
            <br>
            <input type="url" name="syllabus" id="syllabus">
            <br>
            <label for="progression">Progression:</label>
            <br>
            <select name="progression" id="progression">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br>
            <% if (error != '') {%>
                <p class="error"><%= error %></p>
            <%};%>
            <input type="submit" value="Lägg till" id="addBtn">
        </form>
    </main>
    <footer>
        <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling</p>
        <p>© Copyright 2024 Emma Ådahl Görling</p>
    </footer>
</body>
</html>