<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ändra kurs</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
        <h1>Backend-baserad webbutveckling</h1>
        <h2>Moment 1</h2>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/add">Lägg till kurs</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Ändra kurs</h1>

        <form method="post" action="/edit/<%= courses[0].id %>">
            <label for="code">Kurskod:</label>
            <br>
            <input type="text" name="code" id="code" required value="<%= courses[0].coursecode %>">
            <br>
            <label for="name">Kursnamn:</label>
            <br>
            <input type="text" name="name" id="name" required value="<%= courses[0].coursename %>">
            <br>
            <label for="syllabus">URL till kursplan:</label>
            <br>
            <input type="url" name="syllabus" id="syllabus" required value="<%= courses[0].syllabus %>">
            <br>
            <label for="progression">Progression:</label>
            <br>
            <select name="progression" id="progression">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br>
            <input type="submit" value="Spara ändringar" id="addBtn">
        </form>
    </main>
    <footer>
        <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling</p>
        <p>© Copyright 2024 Emma Ådahl Görling</p>
    </footer>
</body>
</html>